.button {
    outline: 0;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
    background-color: var(--color-black);
    width: 48px;
    height: 48px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: var(--color-primary-dim);
}
